.body {
    background: black;
}

.resultado {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}
.resultado1 {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.resultado2 {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}

.resultado3 {
    display: flex;
    background-color: white;
    color: black;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}


